/*Estructura del sitio*/

section {
    display: flex;
}
ul {
    list-style: none;
    li {
        background-color: yellow;
        a {
            display: block;
            &:hover {
                color: red;
            }
        }
    }
}
section {
    h2 {
        font-size: 24px;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    @media (min-width: 768px) {
        background-color: yellow;
    }
    div {

        @media (min-width: 768px) {
            flex-grow: 1;
        }
    }

}
